 /* css for my skills page */
.document{
    box-sizing: border-box;
    margin: 0px;
    }

*{ 
box-sizing: border-box;
    }
.body{
    background-color:black;   
    }

    /* header css */

.page--header{
    display: flex;
    border-bottom: 1px solid rgb(83, 76, 76);
    background-color: black;
    color: white;
    }

.page--header__image {
    width: 8em;
    border-radius: 4em;
    }

.page--header__nav {
    display:flex;
    list-style-type: none;
    flex-wrap: wrap;
    }

.page--header__link {
    text-align: center;
    padding: 0em 1em;
    font: 1.2em bold ;
    line-height: 2em;
    box-shadow: 4px 2px lightgreen;
    border-radius: 1em;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-decoration: none;
    color:white;
    }
.page--header__link:hover{
    background-color:lime;
    color: black;
    }
.page--content{
    display: flex;
    background-color: wheat;
    width: 100%;  
    }

.page--content__section {
    width: 45%;
    margin: 2em;
    }

.page--content__heading {
    font-weight: solid;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4em;
    }

.page--section__block{
    display: grid; 
    border: 2px solid grey;
    border-radius: 2px;
    box-shadow: 4px 4px grey;
    margin: 2em;
    }

.page--section__image{
    width: 9em;
    margin: 2em;
    grid-area: 1/2/3/3;
    }

.page--section__text1{
    text-align: center;
    display: inline;
    font-family:Arial, Helvetica, sans-serif;
    font: 25px bold;
    font-weight: bold;
    color: black;
    grid-area: 1/1/2/2;
    }
.page--section__text2{
    font-size: 1em;
    padding: 0 1em 1em 1em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: 2/1/3/2;
    color: blue;
    text-align: center;
    }


/*  footer css */
.page--footer{
    display:flex;
    background-color: black; 
    border-top: 1px solid gray;
    }

.page--footer__block {

    display: inline;
    padding: 0 2em 0 2em; 
    margin: 10px;
    border-radius: 1em;
    width: 40%;
    border: 1px solid grey;
    color: white;
    }

.page--footer__contact {
    
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 1em;
    }

.page--footer__image{
    border-radius: 50%;
    color: white;
    font-size: 2em;
    width: 1.5em;
    }

.block--link{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: .8em; 
    color: white;
    }
.block--link:hover {
    color: blue;
    }


@media screen and (max-width:768px) {
    .page--content{
        font-size: .8em;
        flex-wrap: wrap;
        justify-content: center;
        }
    .page--content__section{
        width: 100%;}
    .page--header__link{
        font-size: .8em;}
    .page--header{
        flex-direction: column;}
    .page--footer__block{
        width: 80%;}
    }

@media screen and (max-width: 475px){
    .page--section__text1{
        font-size:1em ;}
    .page--section__text2{
        font-size: .7em;}
    .page--header__image{
        width:2em ;}
    .page--header__link{
        margin-left: 0;
        font-size: .6em;}
    .page--footer{
        font-size: .7em;
        flex-direction: column;}
    .page--footer__block{
        margin: auto;
        margin-top: 5px;
    }
    }
